{% extends "base.html" %}
{% block content %}
<div class="content">
  <table class="pure-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th><a href="{{url_for('mlc.sites_edit')}}"><i class="demo-icon icon-plus-squared-alt"></i></a></th>
      </tr>
    </thead>
    <tbody>
      {%- for site in sites %}
      <tr>
        <td>{{ site.name }}</td>
        <td>{{ site.latitude }}</td>
        <td>{{ site.longitude }}</td>
        <td>{%- if not site.elevation == None %}{{ site.elevation }}{%- else %}Calculating..{%- endif %}</td>
        <td><a href="{{url_for('mlc.sites_edit', id=site.id)}}"><i class="demo-icon icon-edit"></i></a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
