/*@import './base.css';
*/
* {
    font-family: sans-serif;
}
.container {
    margin-top: 35px;
    background-color: beige;
}
.row {
}
.column {
  width: 50%;
  float: left;
}
.answer {
  background-color: beige;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
}
.grid > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}
input {
  width: 50%;
}
