/*@import './base.css';
*/
* {
    font-family: sans-serif;
}
.container {
    margin-top: 15px;
    background-color: beige;
}
.row {
}
.column {
  width: 50%;
  float: left;
}
.answer {
  background-color: beige;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
}
.grid > div {
  width: 550px;
  border: 1px dashed gray;
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}
input {
  width: 50%;
}
