{% extends "base.html" %}
{% block content %}
<div class="content">
  <form class="pure-form pure-form-stacked" method="POST">
    {{ form.hidden_tag() }}
    <div class="pure-g">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="pure-u-1-1">
              <span class="alert-message">
                {{ message }}
              </span>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="pure-u-1-1">
        {{ form.email.label }} {{ form.email(size=25, placeholder="Your Email") }}
      </div>
      <div class="pure-u-1-1">
        {{ form.password.label }} {{ form.password(size=25, placeholder="Password") }}
      </div>
      <div class="pure-u-1-1">
        <label for="default-remember">
          {{ form.remember }} Remember me
        </label>
      </div>
      <div class="pure-u-1-1">
        <input type="submit" value="Go" class="pure-button">
      </div>
    </div>
  </form>
</div>
{% endblock %}
