<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords" content="Radio, Frequency, Profile, Antenna">
  <meta name="description" content="Altitude graph on radio channel. Calculation of line of sight based on coordinates and antenna heights. Calculate visibility in the Fresnel zone for a given frequency.">



  <link rel="stylesheet" href="{{url_for('static', filename='css/pure-min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/grids-responsive-min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/side-menu.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/fontello.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
  <script src="{{url_for('static', filename='js/main.js')}}" defer></script> 
  <title>
    MLC
    {% if title %}
      - {{ title }}
    {% endif %}
  </title>
</head>
<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu">
        <a class="pure-menu-heading" href="#">MLC</a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item {% if request.path == url_for('index') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('index')}}" class="pure-menu-link">Home</a>
          </li>
          <li class="pure-menu-item {% if request.path == url_for('mlc.profile') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('mlc.profile')}}" class="pure-menu-link">Profile</a>
          </li>
          <li class="pure-menu-item {% if request.path == url_for('mlc.distance') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('mlc.distance')}}" class="pure-menu-link">Distance</a>
          </li>
          <li class="pure-menu-item {% if request.path == url_for('mlc.nextpoint') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('mlc.nextpoint')}}" class="pure-menu-link">Next point</a>
          </li>
          <hr/>

          {%- if not current_user.is_authenticated %}
          <li class="pure-menu-item {% if request.path == url_for('auth.login') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('auth.login')}}" class="pure-menu-link">Login</a>
          </li>
          <li class="pure-menu-item {% if request.path == url_for('auth.signup') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('auth.signup')}}" class="pure-menu-link">Sign-up</a>
          </li>
          {%- else %}
          <li class="pure-menu-item {% if request.path == url_for('mlc.sites') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('mlc.sites')}}" class="pure-menu-link">My sites</a>
          </li>
          <li class="pure-menu-item {% if request.path == url_for('auth.logout') %}pure-menu-selected{% endif %}">
            <a href="{{url_for('auth.logout')}}" class="pure-menu-link">Logout</a>
          </li>
          {%- endif %}

          <hr/>
          <div class="status-message">
            <p>Network status: <span id="server_status"></span></p>
            <p>Tsaks queue: <span id="task_queue"></span></p>
          </div>
        </ul>
      </div>
    </div>
    <div id="main" class="grids">
      <div class="header">
        <h1>{% if title %}{{ title }}{% endif %}</h1>
      </div>
      {% block content %}{% endblock %}
    </div>
  <script src="{{url_for('static', filename='js/ui.js')}}"></script>
  {% include 'counters.html' ignore missing %}
</body>
</html>
