{% if answer %}
  <ul>
    <li>
      Distance between two points in a straight line {{ answer['distance'] | round(3) }} km
    </li>
    <li>
      Distance between two points on the surface of the planet {{ answer['arc_distance'] | round(3) }} km
    </li>
    <li>
      Cource from Point A to Point B {{ answer['az_a_b'] | round(2) }}°
    </li>
    <li>
      Cource from Point B to Point A {{ answer['az_b_a'] | round(2) }}°
    </li>
    <li>
      Point A. Altitude {{ answer['a_elevation'] }} m
    </li>
    <li>
      Point B. Altitude {{ answer['b_elevation'] }} m
    </li>
  </ul>
  <hr/>
{% endif %}
