{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm">
    <form method="POST" id="form">
      {{ distance_form.hidden_tag() }}
      <fieldset>
        <legend class="doc">Find distance and bearing between two points</legend>
          <div class="row">
            <fieldset>
              <legend class="doc">Point A</legend>
              {{ distance_form.latitude_a.label }} {{ distance_form.latitude_a(size=20) }}
              {{ distance_form.longitude_a.label }} {{ distance_form.longitude_a(size=20) }}
            </fieldset>
          </div>
          <div class="row">
            <fieldset>
              <legend class="doc">Point B</legend>
              {{ distance_form.latitude_b.label }} {{ distance_form.latitude_b(size=20) }}
              {{ distance_form.longitude_b.label }} {{ distance_form.longitude_b(size=20) }}
            </fieldset>
          </div>
          <input type="submit" value="Go" class="bordered">
      </fieldset>
    </form>
  </div>
  <div class="col-sm" id="answer">
  </div>
</div>
{% endblock %}
