{% extends "base.html" %}
{% block content %}
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <h2>On this site you can use the tools:</h2>
      <dl>
        <dt>Profile</dt>
        <dd>Altitude graph on radio channel. Calculation of line of sight based on coordinates and antenna heights. Calculate visibility in the Fresnel zone for a given frequency. The expected receiving signal level is calculated by free space loss, transmitter power and antenna gain.</dd>
        <dt>Distance</dt>
        <dd>Calculation of distance, azimuths between two points. The height of the earth's surface above sea level.</dd>
        <dt>Next point</dt>
        <dd>Calculating the coordinates of a point by azimuth and distance from a known point. The height of the earth's surface above sea level.</dd>
      </dl>
    </div>
    <div class="pure-u-1-1">
      <h2>For registered users</h2>
      <dl>
        <dt>My sites</dt>
        <dd>Saving a list of points for later use and analysis.</dd>
      </dl>
    </div>
    <div class="pure-u-1-1">
      <h2>TODO:</h2>
      <ul>
        <li>Calculation taking into account the influence of hydrometeors, climatic features, interference, reflections.</li>
        <li>Search for an area on the map to install a radio tower</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
