{% extends "base.html" %}
{% block content %}
<div class="content">
  <form class="pure-form pure-form-stacked" method="POST" id="form_1">
    {{ profile_form.hidden_tag() }}
    <fieldset>
      <legend>Radio parameters</legend>
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-3">
          {{ profile_form.frequency.label }} {{ profile_form.frequency(size=4) }}
        </div>
        <div class="pure-u-1-2 pure-u-md-1-3">
          {{ profile_form.tx_power.label }} {{ profile_form.tx_power(size=4) }}
        </div>
        <div class="pure-u-1-2 pure-u-md-1-3">
          {{ profile_form.receiver_sensitivity.label }} {{ profile_form.receiver_sensitivity(size=5) }}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Point A</legend>
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.latitude_a.label }} {{ profile_form.latitude_a(size=10) }}
        </div>
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.longitude_a.label }} {{ profile_form.longitude_a(size=10) }} 
        </div>
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.height_a.label }} {{ profile_form.height_a(size=4) }}
        </div>
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.antenna_gain_a.label }} {{ profile_form.antenna_gain_a(size=5) }}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Point B</legend>
      <div class="pure-g">
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.latitude_b.label }} {{ profile_form.latitude_b(size=10) }}
        </div>
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.longitude_b.label }} {{ profile_form.longitude_b(size=10) }} 
        </div>
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.height_b.label }} {{ profile_form.height_b(size=4) }}
        </div>
        <div class="pure-u-1-2 pure-u-md-1-4">
          {{ profile_form.antenna_gain_b.label }} {{ profile_form.antenna_gain_b(size=5) }}
        </div>
      </div>
    </fieldset>
    <input type="submit" value="Go" class="pure-button">
  </form>
</div>

<div class="content" id="answer">
  <ul>
    <li>
      Distance between two points in a straight line <span id="distance"></span> km
    </li>
    <li>
      Cource from Point A to Point B <span id="az_a_b"></span>°
    </li>
    <li>
      Cource from Point B to Point A <span id="az_b_a"></span>°
    </li>
    <li>
      Point A. Altitude <span id="a_elevation"></span> m
    </li>
    <li>
      Point A. Antenna height <span id="a_height"></span> m
    </li>
    <li>
      Point B. Altitude <span id="b_elevation"></span> m
    </li>
    <li>
      Point B. Antenna height <span id="b_height"></span> m
    </li>
    <li>
      Visibility between antennas - <span id="line_of_sight"></span>
    </li>
    <li>
      Visibility between antennas in the fresnel zone - <span id="visibility_in_0_6_fresnel_zone"></span>
    </li>
    <li>
      Expected signal strength <span id="expected_signal_strength"></span> dBm
    </li>
  </ul>
</div>

<div class="content content-img">
  <div class="pure-g">
    <div class="pure-u-1" id="image">
    </div>
  </div>
</div>
{% endblock %}
