{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm">
    <form method="POST" id="form_1">
      {{ profile_form.hidden_tag() }}
      <fieldset>
        <legend class="doc">Check radio profile</legend>
          <div class="row">
            <fieldset>
              <legend class="doc">Radio parameters</legend>
              {{ profile_form.frequency.label }} {{ profile_form.frequency(size=4) }}
              {{ profile_form.tx_power.label }} {{ profile_form.tx_power(size=4) }}
              {{ profile_form.receiver_sensitivity.label }} {{ profile_form.receiver_sensitivity(size=5) }}
            </fieldset>
          </div>
          <div class="row">
            <fieldset>
              <legend class="doc">Point A</legend>
              {{ profile_form.latitude_a.label }} {{ profile_form.latitude_a(size=10) }}
              {{ profile_form.longitude_a.label }} {{ profile_form.longitude_a(size=10) }}
              {{ profile_form.height_a.label }} {{ profile_form.height_a(size=4) }}
              {{ profile_form.antenna_gain_a.label }} {{ profile_form.antenna_gain_a(size=5) }}
            </fieldset>
          </div>
          <div class="row">
            <fieldset>
              <legend class="doc">Point B</legend>
              {{ profile_form.latitude_b.label }} {{ profile_form.latitude_b(size=10) }}
              {{ profile_form.longitude_b.label }} {{ profile_form.longitude_b(size=10) }}
              {{ profile_form.height_b.label }} {{ profile_form.height_b(size=4) }}
              {{ profile_form.antenna_gain_b.label }} {{ profile_form.antenna_gain_b(size=5) }}
            </fieldset>
          </div>
          <input type="submit" value="Go" class="bordered">
      </fieldset>
    </form>
  </div>
  <div class="col-sm" id="answer">
    <ul>
      <li>
        Distance between two points in a straight line <span id="distance"></span> km
      </li>
      <li>
        Cource from Point A to Point B <span id="az_a_b"></span>°
      </li>
      <li>
        Cource from Point B to Point A <span id="az_b_a"></span>°
      </li>
      <li>
        Point A. Altitude <span id="a_elevation"></span> m
      </li>
      <li>
        Point A. Antenna height <span id="a_height"></span> m
      </li>
      <li>
        Point B. Altitude <span id="b_elevation"></span> m
      </li>
      <li>
        Point B. Antenna height <span id="b_height"></span> m
      </li>
      <li>
        Visibility between antennas - <span id="line_of_sight"></span>
      </li>
      <li>
        Visibility between antennas in the fresnel zone - <span id="visibility_in_0_6_fresnel_zone"></span>
      </li>
    </ul>
    <hr/>
  </div>
</div>
{% endblock %}
